
@{
    ViewBag.Title = "Index";
}

<h2>Localização</h2>

<p>
    <iframe src="//pt.batchgeo.com/map/9107d7739d29287b0e47385147fe7fa2" frameborder="0" width="100%" height="550" style="border:1px solid #aaa;"></iframe>
</p>
<p>
    <small>View <a href="https://pt.batchgeo.com/map/9107d7739d29287b0e47385147fe7fa2">Itaquera Para Elas</a> in a full screen map</small>
</p>