@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>
<h3 class="text-center">Ajudamos você a saber as regiões mais seguras ou menos seguras de Itaquera!</h3>

<p class="text-justify">
    Mapeamos as regiões de Itaquera e as classificamos em relação à sua segurança seguindo os seguintes critérios:
    Iluminação pública: Estudos comprovam que vias iluminadas são mais seguras, por isso acreditamos na importância de trazer a luz como um dos nossos medidores.
    Postos policiais: A presença de postos policiais na rua escolhida traz segurança para aquelas que passam por ali.
    Quantidade de pontos transporte público: Quanto maior a proximidade com pontos de ônibus e estações de metrô, maior a movimentação da via e consequentemente a sua segurança.
</p>
