@{
    ViewBag.Title = "Contate-nos";
}
<h2>@ViewBag.Title.</h2>
<h3>Dúvidas? Contate-nos</h3>

<address>
    <strong>Suporte:</strong>   <a href="mailto:alsc8@hotmail.com">Ana L. Coimbra</a><br />
    <strong>        </strong> <a href="mailto:luana.o.marcondes@gmail.com">Luana Marcondes</a><br />
    <strong>        </strong> <a href="mailto:raissa.ricardo@hotmail.com">Raissa Amorim</a><br />
    <strong>        </strong> <a href="mailto:thaisrrey@gmail.com">Thais Rey</a><br />

</address>