
@{
    ViewBag.Title = "Index";
}

<h2>Índice de Segurança</h2>

<div class="jumbotron">
    <h1>Cálculo</h1>
    <p class="lead">I = 40% postos policiais + 30% transporte público + 30% iluminação Pública </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Itaquera</h2>
        <p>
            I=0,56
        </p>
       </div>
    <div class="col-md-4">
        <h2>José Bonifácio</h2>
        <p>
            I=0,3
        </p>
    </div>
    <div class="col-md-4">
        <h2>Parque do Carmo</h2>
        <p>
            I=0,25
        </p>
    </div>
    <div class="col-md-4">
        <h2>Cidade Líder</h2>
        <p>
            I=0,17
        </p>
    </div>
</div>